services:
  backend:
    container_name: concrete-backend
    build: ./backend
    restart: always
    volumes:
      - ./data:/app/data
    networks:
      - concrete-net

  frontend:
    container_name: concrete-frontend
    build: ./frontend
    restart: always
    ports:
      - "8000:80"
    depends_on:
      - backend
    networks:
      - concrete-net

networks:
  concrete-net:
    driver: bridge