html,
body,
#app {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* 细滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--el-border-color);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--el-border-color-darker);
}
::-webkit-scrollbar-track {
  background: transparent;
}
